@model List<Social_Media>

<hr class="my-5" />

<!-- Bordered Table -->
<div class="card">
    <div class="card-header" style="display:flex;justify-content:space-between">
        <h2>
            Social Medias
        </h2>
      
    </div>
    <div class="card-body">
        <div class="table-responsive text-nowrap">
            <table class="table table-bordered">
                <thead>
                    <tr>
                       <th>Facebook Link</th>
                       <th>Instagram Link</th>
                       <th>Twitter Link</th>
                        <th>Yotube Link</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Social_Media item in Model)
                    {
                        <tr>
                           <td>@item.FaceeBookLink</td>
                           <td>@item.InstagramLink</td>
                           <td>@item.TwitterLink</td>
                           <td>@item.YoutbeLink</td>
                            <td>
                                <div style="display:flex;justify-content:flex-end">                              
                                    <a asp-action="Update" asp-route-id="@item.Id" class="btn btn-info rounded-pill text-white" style="margin-right:10px">Update</a>
                                </div>
                            </td>
                        </tr>

                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<!--/ Bordered Table -->

<hr class="my-5" />