@model List<Employee>

<hr class="my-5" />

<!-- Bordered Table -->
<div class="card">
    <div class="card-header" style="display:flex;justify-content:space-between">
        <h2>
            Employees
        </h2>
        <div>
            <a asp-action="Create" class="btn btn-primary text-white" style="margin-right:10px">Create</a>
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive text-nowrap">
            <table id="table" class="table table-bordered">
                <thead>
                    <tr>
                        <th>Image</th>
                        <th>Full Name</th>
                        <th>Email</th>
                        <th>Position</th>
                        <th>Salary</th>
                        <th style="text-align:right">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Employee item in Model)
                    {
                        <tr>
                            <td>
                                <img src="~/img/@item.Image" style="height:150px;width:80px;object-fit:cover;border-radius:0px;" >
                            </td>
                            <td>@item.FullName</td>
                            <td>@item.Email</td>
                            <td>@item.Position.PositionName</td>
                            <td>@item.Position.Salary</td>
                           
                            <td>
                                <div style="display:flex;justify-content:flex-end">
                                    <a asp-action="Update" asp-route-id="@item.Id" class="btn btn-info  text-white" style="margin-right:10px;padding:10px;">Update</a>
                                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger text-white" style="margin-right:10px;padding:10px;">Delete</a>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<!--/ Bordered Table -->

<hr class="my-5" />

@section Css{
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.css" />
}

@section Scripts{
    <script asp-append-version="true" src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.js"></script>
    <script>
        let table = new DataTable('#table');
    </script>
}                               